@import "tailwindcss";

body {
    @apply bg-gray-50 text-slate-950 font-sans;
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: scale(0.96);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

[data-state="open"].overlayShow {
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

[data-state="open"].contentShow {
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
